.post_item {
    width: 100%;
    min-height: 60px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 7px;
    transition: all .3s;
    border: none;
    outline: none;
    box-shadow: 5px 5px 15px -6px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 5px 5px 15px -6px rgb(0 0 0 / 75%);
    -moz-box-shadow: 5px 5px 15px -6px rgba(0, 0, 0, 0.75);
}

.post_item:hover{
    cursor: pointer;
}

.likesCount, .like_new {
    display: flex;
    align-items: center;
    transition: all .5s ease-in-out;
}

.likesCount::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background: url("/src/images/heart.png") no-repeat;
    background-size: cover;
}

.like_new::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background: url("/src/images/heart_empty.png") no-repeat;
    background-size: cover;
}


.like_new:hover::before{
    cursor: pointer;
    transform: scale(1.2);
}

.userAvatar img{
    display: inline-block;
    background-color: #524f4e;
    width: 40px;
    height:40px;
    border-radius: 50%;
}

.userName{
    font-weight: bold;
}

.post_item_header{
    display: grid;
    grid-template-columns: 50px auto 20px;
    grid-column-gap: 15px;
}

.likes_block{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.like_new__disactive{
    color: #ff4040;
    font-weight: bold;
}