.userList_content{
    width: 80%;
    margin: 0px auto;
}


.selectedPage {
    font-weight: bold;
    font-size: 20px;
}
.pagination_wrapper{
    width:300px;

    overflow: hidden;
}
.pagination_wrapper span{
    padding-right: 10px;
    cursor: pointer;
}